@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-zinc-950);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-zinc-800);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-zinc-700);
}

/* Utilities */
.perspective-1000 {
  perspective: 1000px;
}